:root {
    --white: rgba(254, 254, 254, .8);
    --grey: #868E96;
    --black: #000000;
    --color_back: white;
    --color_blue: #1d2c65;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aurelia';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Aurelia.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), 
    url('fonts/Aurelia.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Aurelia.woff2') format('woff2'), url('fonts/Aurelia.woff') format('woff'), 
    url('fonts/Aurelia.ttf') format('truetype'), url('fonts/Aurelia.svg#Barlow') format('svg');
}
@font-face {
    font-family: 'DejaVuSans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/DejaVuSans.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), 
    url('fonts/DejaVuSans.eot?#iefix') format('embedded-opentype'), 
    url('fonts/DejaVuSans.woff2') format('woff2'), url('fonts/DejaVuSans.woff') format('woff'), 
    url('fonts/DejaVuSans.ttf') format('truetype'), url('fonts/DejaVuSans.svg#Barlow') format('svg');
}

html { 
    scroll-behavior: smooth;
    text-align: center;
    width: 100vw;
}

body {
    margin: 0;
    width: 100vw;
    font-weight: 400;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: url('icons/cursorgrey.png'), auto;
}

.contact_icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    -webkit-transition: all .4s cubic-bezier(.22, .46, .5, .98);
    -moz-transition: all .4s cubic-bezier(.22, .46, .5, .98);
    -o-transition: all .4s cubic-bezier(.22, .46, .5, .98);
    -ms-transition: all .4s cubic-bezier(.22, .46, .5, .98);
    transition: all .4s cubic-bezier(.22, .46, .5, .98);
    cursor: url('icons/clickgrey.png'), auto;
}

.contact_icon:last-child {
    margin-right: 0;
}

.contact_icon:hover,
.contact_icon:active {
    transform: scale( 1.3);
}

.contact_icon>.line {
    fill: var(--black);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all .4s;
}

.contact_icon:hover .line,
.contact_icon:active .line {
    fill: var(--color_back);
}

/* pinterest */

.contact_icon #SVGID_1a {
    stop-color: var(--color_back);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

.contact_icon:hover #SVGID_1a,
.contact_icon:active #SVGID_1a {
    stop-color: #e13719;
}

.contact_icon #SVGID_1b {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_1b,
.contact_icon:active #SVGID_1b {
    stop-color: #d02708;
}

.contact_icon #SVGID_1c {
    stop-color:var(--color_back);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.contact_icon:hover #SVGID_1c,
.contact_icon:active #SVGID_1c {
    stop-color: #ca2028;
}

/* facebook */

.contact_icon #SVGID_2a {
    stop-color: var(--color_back);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

.contact_icon:hover #SVGID_2a,
.contact_icon:active #SVGID_2a {
    stop-color: #8bb7f0;
}

.contact_icon #SVGID_2b {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_2b,
.contact_icon:active #SVGID_2b {
    stop-color: #1877f2;
}

.contact_icon #SVGID_2c {
    stop-color: var(--color_back);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.contact_icon:hover #SVGID_2c,
.contact_icon:active #SVGID_2c {
    stop-color: #1c407c;
}

/* instagram */

.contact_icon #SVGID_3a {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_3a,
.contact_icon:active #SVGID_3a {
    stop-color: #FED576;
}

.contact_icon #SVGID_3b {
    stop-color: var(--color_back);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.contact_icon:hover #SVGID_3b,
.contact_icon:active #SVGID_3b {
    stop-color: #F47133;
}

.contact_icon #SVGID_3c {
    stop-color: var(--color_back);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.contact_icon:hover #SVGID_3c,
.contact_icon:active #SVGID_3c {
    stop-color: #BC3081;
}

.contact_icon #SVGID_3d {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_3d,
.contact_icon:active #SVGID_3d {
    stop-color: #4C63D2;
}

/* mail */

.contact_icon #SVGID_5a {
    stop-color: var(--color_back);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.contact_icon:hover #SVGID_5a,
.contact_icon:active #SVGID_5a {
    stop-color: #12f912;
}

.contact_icon #SVGID_5b {
    stop-color: var(--color_back);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.contact_icon:hover #SVGID_5b,
.contact_icon:active #SVGID_5b {
    stop-color: #00d500;
}

.contact_icon #SVGID_5c {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_5c,
.contact_icon:active #SVGID_5c {
    stop-color: #009c00;
}

.contact_icon #SVGID_5d {
    stop-color: var(--color_back);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.contact_icon:hover #SVGID_5d,
.contact_icon:active #SVGID_5d {
    stop-color: #005400;
}

/* mic */

.contact_icon #SVGID_4a {
    stop-color: var(--color_back);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

.contact_icon:hover #SVGID_4a,
.contact_icon:active #SVGID_4a {
    stop-color: #fff660;
}

.contact_icon #SVGID_4b {
    stop-color: var(--color_back);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.contact_icon:hover #SVGID_4b,
.contact_icon:active #SVGID_4b {
    stop-color: #ffd936;
}

.contact_icon #SVGID_4c {
    stop-color: var(--color_back);
    -webkit-transition: all 1.5s;
    -moz-transition: all .5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.contact_icon:hover #SVGID_4c,
.contact_icon:active #SVGID_4c {
    stop-color: #ff6200;
}

.container {
    display: grid;
    grid-template-rows: 100px 100px 100vh auto auto auto;
    grid-template-areas: 
    "logo-lang"
    "navigation"
    "gallery-name"
    "space"
    "back"
    "footer";
}

.gallery-name {
    width: 100vw;
}

.pic-container {
    width: 90vw;
    height: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "#pic1 #pic2 #pic3"
    "#pic4 .description .description"
    "#pic5 .description .description"
    "#pic6 #pic7 #pic8";
}

h1 {
    font-family: 'Aurelia';
    font-size: 2em;
    color: var(--grey);
}

p {
    font-size: .9em;
}

.space a {
    text-decoration: none;
    color: var(--grey);
    cursor: url('icons/clickgrey.png'), auto;
    text-transform: uppercase;
}

.description {
    width: 60vw;
    grid-column: 2/4;
    grid-row: 2/4;
    overflow: auto;
}

.picture {
    width: 30vw;
    height: auto;
}

.picture:hover,
.picture:active {
    opacity: .8;
    transform: scale( 1.04);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

#pic1 {
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: url('icons/clickgrey.png'), auto;
    transition: 0.3s;
}

#pic2 {
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic3 {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic4 {
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic5 {
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic6 {
    grid-column: 1/2;
    grid-row: 4/5;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic7 {
    grid-column: 2/3;
    grid-row: 4/5;
    cursor: url('icons/clickgrey.png'), auto;
}

#pic8 {
    grid-column: 3/4;
    grid-row: 4/5;
    cursor: url('icons/clickgrey.png'), auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.95);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100vw;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: auto;
}

.modal-content,
#caption {
    -webkit-animation-name:zoom;
    -webkit-animation-duration:0.6s;
    animation-name:zoom;
    animation-duration:0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@media only screen and (max-width: 759px) {
    .modal-content {
        width: 100%;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: "none";
    cursor: url('icons/clickgrey.png'), auto;
}


.btn-toggle {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    background-image: url(icons/menu1.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: url('icons/clickgrey.png'), auto;
    z-index: 1000;
}

.btn-toggle:hover,
.btn-toggle:active {
   opacity: .5;
}

.navv ul {
    visibility: hidden;
}

.nav-sidebar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    padding: 0 5px;
    height: min-content;
    background-color: rgba(255, 255, 255, .01);
    z-index: 100;
}

.nav-sidebar ul {
    overflow: hidden;
    visibility: hidden;
    left: 0;
}

.nav-sidebar ul li {
    padding-top: 10px;
    line-height: 50px;
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    white-space: nowrap;
    opacity: 0;
    cursor: url('icons/clickgrey.png'), auto;
}

.nav-sidebar ul li a:hover,
.nav-sidebar ul li a:active {
    color: var(--grey);
}

.nav-sidebar a::before {
    content: '';
    display: block;
    height: 1px;
    background: var(--grey);
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    -webkit-transition: transform ease-in-out 250ms;
    -moz-transition: transform ease-in-out 250ms;
    -o-transition: transform ease-in-out 250ms;
    -ms-transition: transform ease-in-out 250ms;
}

.nav-sidebar a:hover::before,
.nav-sidebar a:active::before {
    transform: scale(1, 1);
}

.logo {
    position: absolute;
    width: auto;
    height: 8vh;
    right: 3vw;
    top: 1vh;
}

.languages {
    display: flex;
    list-style: none;
    text-align: left;
    justify-content: space-around;
    position: absolute;
    cursor: url('icons/clickgrey.png'), auto;
    margin-left: 50px;
    z-index: 100;
}

.languages li {
    font-size: 1rem;
    padding: 0.7rem;
    text-transform: uppercase;
    display: block;
}

.languages li a {
    all: unset;
    text-decoration: none;
}

.left,
.right,
.come-back,
.go-up {
    width: 50px;
    height: auto;
    margin: 1rem;
    cursor: url('icons/clickgrey.png'), auto;
}

.left:hover,
.left:active,
.right:hover,
.right:active,
.come-back:hover,
.come-back:active,
.go-up:hover,
.go-up:active {
    opacity: .4;
    transition: all .2s ease-in-out .2s;
}

footer {
    width: 100vw;
    background-color: var(--white);
    opacity: .9;
}

footer ul {
    width: 100vw;
    display: flex;
    position: sticky;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
}

footer li {
    padding: 0.4rem;
}

footer li a {
    all: unset;
    text-decoration: none;
    display: block;
}

footer p {
    font-size: 0.6rem;
}


/* larger screens menu starts here */

@media screen and (min-width: 768px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-rows: 100px 100px auto 400px auto auto;
        grid-template-areas: 
        "logo-lang"
        "navigation"
        "gallery-name"
        "space"
        "back"
        "footer";
    }

    .languages li {
        font-size: 1.3rem;
        padding: 1rem;
    }

    .logo {
        height: 80px;
        right: 1vw;
        top: 1vh;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .pic-container {
        width: 93vw;
        height: 93vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "#pic1 #pic2 #pic3"
        "#pic4 .description #pic5"
        "#pic6 #pic7 #pic8";
    }

    .description {
        width: 30vw;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #pic1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #pic2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #pic3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #pic4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #pic5 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #pic6 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #pic7 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #pic8 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .btn-toggle {
        display: none;
    }

    .nav-sidebar {
        visibility: hidden;
    }

    .navv ul {
        visibility: visible;
        transition: transform ease-in-out 1s;
        z-index: 100;
        background: var(--white);
        padding: 10px;
    }

    nav {
        all: unset;
        display: flex;
        width: 100vw;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
        z-index: 100;
    }
    nav ul {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        list-style: none;
        background: var(--white);
        padding: 20px;
    }
    nav li {
        margin-bottom: 0.1em;
        margin-top: 0.5em;
        margin-right: 2em;
        margin-left: 1em;
        font-size: 1.3em;
    }
    nav a {
        opacity: 1;
        position: relative;
        float: left;
        display: block;
        text-decoration: none;
        color: var(--black);
        cursor: url('icons/clickgrey.png'), auto;
    }
    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: var(--grey);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
        -webkit-transition: transform ease-in-out 250ms;
        -moz-transition: transform ease-in-out 250ms;
        -o-transition: transform ease-in-out 250ms;
        -ms-transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav a:hover {
        color: var(--grey);
    }

    .right,
    .left,
    .come-back,
    .go-up {
        width: 50px;
        height: auto;
        margin: 1rem;
        cursor: url('icons/clickgrey.png'), auto;
    }

    .left:hover,
    .left:active,
    .right:hover,
    .right:active,
    .come-back:hover,
    .come-back:active,
    .go-up:hover,
    .go-up:active,
    .left:hover,
    .left:active,
    .right:hover,
    .right:active {
        opacity: .4;
        transition: all .2s ease-in-out .2s;
    }

    footer li {
        padding: 0.7rem;
    }

    .contact_icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        -webkit-transition: all .4s cubic-bezier(.22, .46, .5, .98);
        -moz-transition: all .4s cubic-bezier(.22, .46, .5, .98);
        -o-transition: all .4s cubic-bezier(.22, .46, .5, .98);
        -ms-transition: all .4s cubic-bezier(.22, .46, .5, .98);
        transition: all .4s cubic-bezier(.22, .46, .5, .98);
    }
    
    .contact_icon:hover,
    .contact_icon:active {
        transform: scale( 1.4);
    }

    footer p {
        font-size: 0.8rem;
    }
}